
input[type="text"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #61dafb;
    border-radius: 4px;
    resize: vertical;
    /*background-color: #282c34;*/
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #61dafb;
    text-align: center;
    cursor: pointer;
    /*height: 50px;*/
    /*line-height: 10px*/
}
input:focus{
    border-color: #61dafb;
}

input::placeholder {
    color: #000000;
    /*font-size: 1.5em;*/
    opacity: 1;
}
input:focus::placeholder {
    color: transparent;
}

.input {
    display: block;
    margin-bottom: 10px;
    /*max-width: 50%;*/
}
.input:last-child {
    margin-bottom: 0;
}